<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PJ's Tech Blog</title>  
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <!-- conditionally render login link -->
      {{#if loggedIn}}
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      {{else}}
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
      {{/if}}
    </ul>
  </nav>

  <header class="hero">
    <h1 class="app-title"><a href="/">PJ's Tech Blog</a></h1>
  </header>

  <main class="col-auto">
    {{{body}}}
  </main>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}  
</body>
</html>